
:root {

}

body {
    margin: 0;
    padding: 0 0 10rem;
    min-height: calc(100vh - 10rem);
    font-family: 'EB Garamond', serif;
    overflow-y: scroll;
    user-select: none;
    background-size: 25rem;
    background-color: rgba(87, 50, 20, 0.45);
    background-image: url("/img/background/panels/wood.png");
    background-blend-mode: darken;
    background-repeat: repeat;
}

#app {
    width: 100%;
}