
:root {

}

body {
    margin: 0;
    padding: 0 0 10rem;
    min-height: calc(100vh - 10rem);
    font-family: 'EB Garamond', serif;
    overflow-y: scroll;
    user-select: none;
    background-size: 30%;
    background: rgba(87, 50, 20, 0.75) url("/img/background/panels/plaster.png") repeat;
    background-blend-mode: darken;
}

#app {
    width: 100%;
}